:root {
  --color-primary: #fcfd07;
  --color-secondary: #302c1fc9;
  --color-tertiary: #f62a2a;
  --color-primary-darker: hwb(60 10% 14%);
  --color-secondary-darker: #24211ac9;
  --color-tertiary-darker: #b82424;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

@font-face {
  font-family: "Assistant ExtraLight";
  src: url("/statics/fonts/Assistant-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Snas Hebrew Light";
  src: url("/statics/fonts/IBMPlexSansHebrew-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Snas Hebrew Light", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f0e8e8c4;
  overflow-x: hidden;
}

header {
  width: 100%;
  /* height: 625px; */
  position: relative;
  z-index: 1000;
}

header::before {
  filter: blur(5px);
}

/* navbar properties */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links {
  list-style: none;
  border-radius: 35px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0px;
  margin: 50px 0 0 0;
  justify-content: center;
  position: fixed;
  top: 0px;
}
.nav__item {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "IBM Plex Snas Hebrew Light";
  font-size: 20px;
  font-weight: bold;
  padding: 8px 17px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.nav__item::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 35px;
}
.nav__item:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1);
  border-radius: 25px;
  color: black;
}
.nav__item:hover {
  color: black;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-primary);
}

.brand:hover::before {
  background-color: var(--color-secondary);
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1);
}

/* slider */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 50vw;
  width: 100vw;
}

.slider-container h1 {
  color: #fff;
  font-size: 100px;
  letter-spacing: 5px;
  position: relative;
  z-index: 100;
  text-align: center;
}
.slider-logo {
  width: 40%;
}

.slider-container::after {
  background-color: #000;
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transform: scale(1.15);
  transition: opacity 0.6s ease;
}

.slide.active {
  animation: grow 4s linear forwards;
  opacity: 1;
}

@keyframes grow {
  0%,
  20% {
    transform: scale(1);
  }

  75%,
  100% {
    transform: scale(1.15);
  }
}

.controls-container {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  z-index: 2;
}

.control {
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  margin: 6px;
  height: 40px;
  width: 5px;
  transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.control.active,
.control:hover {
  background-color: #fff;
  opacity: 1;
  transform: scale(1.2);
}
/* sections */
.section {
  padding: 8rem 2rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
  display: grid;
  align-items: center;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1rem 3.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  width: fit-content;
  margin: auto auto 50px auto;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0 8rem;
}

.features__img {
  width: 40%;
  border-radius: 10px;
}

.features__feature {
  justify-self: center;
  width: 100%;
  margin: auto;
  padding: 5%;
  font-size: 1.5rem;
}

.features_card {
  width: 100%;
  height: 70%;
  display: inline-flex;
  justify-content: center;
  background: #ffffff7a;
  border-radius: 10px;
  box-shadow: 0 0.6rem 1.5rem rgb(0 0 0 / 20%);
}

.features__header {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* FOOTER */
.footer {
  padding: 5rem 3rem;
  background-color: #37383d;
  display: grid;
  justify-content: center;
}

.footer__nav {
  list-style: none;
  display: inline-flex;
  gap: 10%;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  height: 70%;
  background-color: #f3f3f3;
  padding: 4rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1001;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 1.1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.modal__header {
  font-size: rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.modal__form {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.modal__form label {
  font-size: 1rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 490px) {
  body {
  }
  .section {
  }
  .nav__links {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0px 0 0 0;
  }
  .nav__item {
    color: #c2bdbd;
    font-family: "IBM Plex Snas Hebrew Light";
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 17px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }

  .nav__item:hover::before {
    background: none;
    box-shadow: none;
    transform: scale(1);
  }
  .nav__item:hover {
    color: white;
    font-weight: 900;
    font-size: 1rem;
  }

  .brand {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-primary);
  }

  .brand:hover {
    font-weight: bold;
    color: var(--color-primary);
  }
  .brand:hover:active {
    font-weight: bold;
    color: var(--color-primary);
  }
  .slide {
    background-size: fill;
    height: 160vw;
  }
  .slider-container {
    height: 160vw;
    width: 100%;
  }

  .section__description {
    font-size: 1.7rem;
    margin-bottom: 0rem;
  }

  .section__header {
    font-size: 1.9rem;
    line-height: 1.3;
    font-weight: 500;
  }
  .features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-items: center;
  }

  .features__img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    /* top: 0px; */
  }

  .features__feature {
    justify-self: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    /* padding: 0%; */
    font-size: 0.9rem;
    text-align: center;
  }

  .features_card {
    width: 340%;
    height: fit-content;
    display: grid;
  }

  .features__header {
    font-size: 1rem;
    margin-bottom: 0rem;
  }
}
