<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />
    <title>קול-טק</title>
  </head>
  <body dir="rtl">
    <header>
      <nav class="nav">
        <ul class="nav__links">
          <li class="nav__item brand" href="#slider">קול-טק</li>
          <li><a class="nav__item" href="#section--1">עלינו</a></li>
          <li><a class="nav__item" href="#section--2">גלריה</a></li>
          <li>
            <a class="nav__item" href="#section--3">צור קשר</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="slider" class="slider-container">
      <h1><img class="slider-logo" src="{% static 'images1/logo.png'%}" /></h1>
      <div
        class="slide"
        style="background-image: url('/statics/images1/IMG_977\ .jpg')"
      ></div>

      <div
        class="slide"
        style="background-image: url('/statics/images1/DSC_2165\ .jpg')"
      ></div>

      <div
        class="slide"
        style="background-image: url('/statics/images1/DSC_2222.jpg')"
      ></div>

      <div class="controls-container">
        <div class="control"></div>
        <div class="control"></div>
        <div class="control"></div>
      </div>
    </div>

    <section class="section" id="section--1">
      <div class="section__title">
        <h2 class="section__description">עלינו</h2>
        <h3 class="section__header">חברת הגברה מהגדולות בישראל</h3>
      </div>

      <div class="features">
        <div class="features_card">
          <img
            src="{% static 'images1/aboutus3.jpg'%}"
            data-src="img/digital.jpg"
            alt="concert"
            class="features__img"
          />

          <div class="features__feature">
            <h5 class="features__header">אודות</h5>
            <p>
              קול-טק מתמחה במתן שירותי הגברה ותאורה למופעים ולאירועים בהיקפים
              רחבים והינה מהוותיקות והמובילות בארץ בתחומה,החברה על העסקת כח אדם
              איכותי, מיומן ומקצועי, ומתמידה להצטייד במיטב הציוד והטכנולוגיה
              בתחום. בכך משמרת החברה את הערכים והמסורת שמייחדים אותה מתחילת
              דרכה.
            </p>
          </div>
        </div>

        <div class="features_card">
          <div class="features__feature">
            <h5 class="features__header">שירות ומוצרים</h5>
            <p>
              בקול טק ישנם מערכות הגברת קול מהמתקדמות והאיכותיות בעולם שמתאימות
              לכל מטרה ולכל סדר גודל של אירוע, מציע פתרונות לכל בעית תאורה
              וסאונד וממשיכה להתעדכן במיטב הציוד והטכנולוגיות שיש לענף להציע
            </p>
          </div>

          <img
            src="{% static 'images1/aboutus1.jpg'%}"
            data-src="img/grow.jpg"
            alt="employ"
            class="features__img second-img"
          />
        </div>
        <div class="features_card">
          <img
            src="{% static 'images1/aboutus2.jpg'%}"
            data-src="img/card.jpg"
            alt="concert"
            class="features__img"
          />

          <div class="features__feature">
            <h5 class="features__header">שנות ניסיון</h5>
            <p>
              בקול טק מיטב אנשי הסאונד והתאורה שמתמחים בתחום ויודעים לתת פתרונות
              רחבים לכלבעיה ולהפיק את המיטב מכל אירוע
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="section--2">
      <div class="section__title section__title--testimonials">
        <h2 class="section__description">גלריה</h2>
        <h3 class="section__header">תמונות של אירועים מרכזיים</h3>
      </div>

      <div class="slider">
        <div class="slide slide--1">
          <div class="testimonial">
            <h5 class="testimonial__header">הסבר אירועים</h5>
            <blockquote class="testimonial__text">תמונה</blockquote>
            <address class="testimonial__author">
              <img src="img/user-1.jpg" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name"></h6>
              <p class="testimonial__location"></p>
            </address>
          </div>
        </div>

        <div class="slide slide--2">
          <div class="testimonial">
            <h5 class="testimonial__header"></h5>
            <blockquote class="testimonial__text"></blockquote>
            <address class="testimonial__author">
              <img src="img/user-2.jpg" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name"></h6>
              <p class="testimonial__location"></p>
            </address>
          </div>
        </div>

        <div class="slide slide--3">
          <div class="testimonial">
            <h5 class="testimonial__header"></h5>
            <blockquote class="testimonial__text"></blockquote>
            <address class="testimonial__author">
              <img src="img/user-3.jpg" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name"></h6>
              <p class="testimonial__location"></p>
            </address>
          </div>
        </div>

        <!-- <div class="slide"><img src="img/img-1.jpg" alt="Photo 1" /></div>
        <div class="slide"><img src="img/img-2.jpg" alt="Photo 2" /></div>
        <div class="slide"><img src="img/img-3.jpg" alt="Photo 3" /></div>
        <div class="slide"><img src="img/img-4.jpg" alt="Photo 4" /></div> -->
        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
      </div>
    </section>

    <footer id="section--3" class="footer">
      <button class="btn btn--show-modal">צור קשר</button>
      <ul class="footer__nav">
        <li class="footer__item">
          <a
            class="footer__link"
            target="_blank"
            href="https://www.instagram.com/koltech_ltd/"
            >instegram</a
          >
        </li>
        <li class="footer__item">
          <a
            class="footer__link"
            target="_blank"
            href="https://m.facebook.com/people/Kol-Tech-Sound-Light/100055086832360/?locale=he_IL"
            >facebook</a
          >
        </li>
      </ul>
      <p class="footer__copyright">created by Noa Avitan</p>
    </footer>

    <div class="modal hidden">
      <button class="btn--close-modal">&times;</button>
      <h2 class="modal__header">לפרטים ויצירת קשר</h2>
      <p>מייל - koltech1@gmail.com</p>
      <p>שלומי אביטן - 050-4213000</p>
      <p>יוסי (צקצק) בן דוד - 050-4212000</p>
      <p>מור אביטן - 052-7727852</p>
      <p>הגנן 19, באר שבע</p>
      <!-- <form class="modal__form">
        <label>First Name</label>
        <input type="text" />
        <label>Last Name</label>
        <input type="text" />
        <label>Email Address</label>
        <input type="email" />
        <button class="btn">Next step &rarr;</button>
      </form> -->
    </div>
    <div class="overlay hidden"></div>

    <script src="{% static 'js/index.js'%}"></script>
  </body>
</html>
