<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="64bOeZwF61PchSC1DDtZqd59xQQusdEBwhTWEKLM2U4"
    />
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />
    <title>קול-טק</title>
  </head>
  <body dir="rtl">
    <header>
      <nav class="nav">
        <ul class="nav__links">
          <li class="nav__item brand" href="#slider">קול-טק</li>
          <li><a class="nav__item" href="#section--1">עלינו</a></li>
          <li><a class="nav__item" href="#section--2">גלריה</a></li>
          <li>
            <a class="nav__item" href="#section--3">צור קשר</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="slider" class="slider-container">
      <h1><img class="slider-logo" src="{% static 'images1/logo.png'%}" /></h1>
      <div
        class="slide"
        style="background-image: url('/statics/images1/IMG_977\ .jpg')"
      ></div>

      <div
        class="slide"
        style="background-image: url('/statics/images1/DSC_2165\ .jpg')"
      ></div>

      <div
        class="slide"
        style="background-image: url('/statics/images1/DSC_2222.jpg')"
      ></div>

      <div class="controls-container">
        <div class="control"></div>
        <div class="control"></div>
        <div class="control"></div>
      </div>
    </div>

    <section class="section" id="section--1">
      <div class="section__title">
        <h2 class="section__description">עלינו</h2>
        <h3 class="section__header">חברת הגברה מהאיכותיות בישראל</h3>
      </div>

      <div class="features">
        <div class="features_card">
          <img
            src="{% static 'images1/aboutus3.jpg'%}"
            data-src="img/digital.jpg"
            alt="concert"
            class="features__img"
          />

          <div class="features__feature">
            <h5 class="features__header">אודות</h5>
            <p>
              קול-טק מתמחה במתן שירותי הגברה ותאורה למופעים ולאירועים בהיקפים
              רחבים והינה מהוותיקות והמובילות בארץ בתחומה, החברה שמה דגש על
              העסקת כח אדם איכותי, מיומן ומקצועי, ומתמידה להצטייד במיטב הציוד
              והטכנולוגיה בתחום. בכך משמרת החברה את הערכים והמסורת שמייחדים אותה
              מתחילת דרכה.
            </p>
          </div>
        </div>

        <div class="features_card second-card">
          <div class="features__feature second-feature">
            <h5 class="features__header">שירות ומוצרים</h5>
            <p>
              בקול טק ישנן מערכות הגברת קול מהמתקדמות והאיכותיות בעולם שמתאימות
              לכל מטרה ולכל סדר גודל של אירוע, מציע פתרונות לכל בעית תאורה
              וסאונד וממשיכה להתעדכן במיטב הציוד והטכנולוגיות שיש לענף להציע
            </p>
          </div>

          <img
            src="{% static 'images1\IMG-20.jpeg'%}"
            data-src="img/grow.jpg"
            alt="employ"
            class="features__img second-img"
          />
        </div>
        <div class="features_card">
          <img
            src="{% static 'images1/aboutus2.jpg'%}"
            data-src="img/card.jpg"
            alt="concert"
            class="features__img"
          />

          <div class="features__feature">
            <h5 class="features__header">שנות ניסיון</h5>
            <p>
              בחברת קול-טק מועסקים מיטב אנשי הסאונד והתאורה, מתמחים בתחומם, אשר
              יודעין לספק פתרונות מגוונים לכל בעיה ולהפיק את המיטב מכל אירוע
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="section--2">
      <div class="section__title">
        <h2 class="section__description">גלריה</h2>
        <h3 class="section__header">תמונות מאירועים והופעות</h3>
      </div>
      <div class="container-gallery">
        {% for img in list_img %}

        <div class="gallery__item">
          <img
            class="gallery__image"
            src="/statics/gallery-images/{{img}}"
            alt="Imagen 1"
          />
        </div>
        {% endfor %}
      </div>
    </section>

    <footer id="section--3 " class="footer">
      <button class="btn btn--show-modal">צור קשר</button>
      <ul class="footer__nav">
        <li class="footer__item">
          <a
            class="footer__link"
            target="_blank"
            href="https://www.instagram.com/koltech_ltd/"
            >instegram</a
          >
        </li>
        <li class="footer__item">
          <a
            class="footer__link"
            target="_blank"
            href="https://m.facebook.com/people/Kol-Tech-Sound-Light/100055086832360/?locale=he_IL"
            >facebook</a
          >
        </li>
      </ul>
      <p class="footer__copyright">created by Noa Avitan</p>
    </footer>

    <div class="modal hidden">
      <button class="btn--close-modal">&times;</button>
      <form
        name="contactForm"
        method="post"
        enctype="multipart/form-data"
        onsubmit="return validateForm()"
      >
        {% csrf_token %}
        <div class="contact-box">
          <h2>7צור קשר</h2>
          <input
            type="text"
            class="field"
            placeholder="Your Name"
            name="name"
          />
          <input
            type="text"
            class="field"
            placeholder="Your Email"
            name="email"
          />
          <input type="text" class="field" placeholder="Phone" name="phone" />
          <textarea
            placeholder="Message"
            class="field"
            name="message"
          ></textarea>
          <button type="submit" class="btn">שלח</button>
        </div>
      </form>
    </div>
    <div class="overlay hidden"></div>

    <script src="{% static 'js/index.js'%}"></script>
    <script src="{% static 'js/validateForm.js'%}"></script>
  </body>
</html>
